@import 'reset.scss';

:root{
    --index: calc(1vw + 1vh);
    --transition: 1.5s cubic-bezier(.05, .5, 0, 1);
    --logo-size: calc(var(--index) * 7.8);
}

@font-face {
    font-family: kamerik-3d;
    src: url(../fonts/kamerik205-heavy.woff2);
    font-weight: 900;
}

@font-face {
    font-family: merriwether-italic-3d;
    src: url(../fonts/merriweather-regular-italic.woff2);
}

body{
    background-color: #000;
    color: #fff;
    font-family: kemerik-3d;

    .logo{       
        width: calc(var(--index) * 7.8);
        height: calc(var(--index) * 7.8);
        background-repeat: no-repeat;
        position: absolute;
        left: calc(50% - calc(var(--logo-size) / 2));
        top: calc(var(--index) * 2.8);
        z-index: 1;       
    }

    .layers{
        perspective: 1800px;

        &__content{
            height: 100vh;
            transform-style: preserve-3d;  
            transform: rotateX(var(--moveY)) rotateY(var(--moveX)); 
            min-height: 500px;
            will-change: transform; 
            transition: transform var(--transition);
            
            .layer-1{
                transform: translateZ(-55px) scale(1.06);
            }
            .layer-2{
                transform: translateZ(80px) scale(.95);
            }
            .layer-3{
                transform: translateZ(180px) scale(.8);

                .hero-content{
                    font-size: calc(var(--index) * 2.9);
                    text-align: center;
                    text-transform: uppercase;
                    letter-spacing: calc(var(--index)* -.15);
                    line-height: 1.35em;
                    margin-top: calc(var(--index) * 5.5);

                    span{
                        display: block;
                    }

                    &__p{
                        text-transform: none;
                        font-family: merriwether-italic-3d;
                        letter-spacing: normal;
                        font-size: calc(var(--index) * .73);
                        line-height: 3;
                    }
                }
            }
            .layer-4{
                transform: translateZ(190px) scale(.9);
            }
            .layer-5{
                transform: translateZ(300px) scale(.9);
            }
            .layer-6{
                transform: translateZ(380px);
            }

            .layer-4, .layer-5, .layer-6{
                pointer-events: none;
            }
        }

        &__item{
            position: absolute;
            inset: -5vw;
            background-size: cover;
            background-position: center;   
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;        
        }

        &__button-start{
            font-family: Arial;
            font-weight: 600;
            text-transform: uppercase;
            font-size: calc(var(--index)* .7);
            letter-spacing: -.02vw;
            padding: calc(var(--index)* .7) calc(var(--index)* 1.25);
            background-color: transparent;
            color: #fff;
            border-radius: 10em;
            border: rgb(255 255 255 / .4) 3px solid;
            outline: none;
            cursor: pointer;
        }
    }
}





